@import "~bootstrap/scss/bootstrap";

/* Set the height of the body to 100% */
html,
body {
     height: 100%;
}

/* Set the position of the footer to absolute */
.footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
     text-align: center;
     /* Set the height of the footer */
}

body {
     /* Set the background color of the body */
     background-color: #fefae0;

     /* Set the padding of the body to compensate for the height of the footer */
     padding-bottom: 60px;

     /* Set the same height as the footer */
     border-bottom: none;

     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M115.57 434.96a35.07 35.07 0 1 0 23.81-65.98z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M961.47 301.27a6.57 6.57 0 1 0 9.21 9.37z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1031.87 203.53a37.8 37.8 0 1 0 24.22 71.61z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1064.79 278.66L1097.91 278.66L1097.91 311.78L1064.79 311.78z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1155.67 109.05a10.79 10.79 0 1 0 14.84 15.66z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1411.21 412.69L1457.03 412.69L1457.03 458.51L1411.21 458.51z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M676.96 389.15 a24.3 24.3 0 1 0 48.6 0 a24.3 24.3 0 1 0 -48.6 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M558.35 16.1L603.4 16.1L603.4 41.89L558.35 41.89z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1311.09 114.3a53.15 53.15 0 1 0 83.54-65.72z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1219.17 111.3 a23.22 23.22 0 1 0 46.44 0 a23.22 23.22 0 1 0 -46.44 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M153.23 476.13 a16.29 16.29 0 1 0 32.58 0 a16.29 16.29 0 1 0 -32.58 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M-30.33 25.1 a52.64 52.64 0 1 0 105.28 0 a52.64 52.64 0 1 0 -105.28 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M130.62 234.36a50.37 50.37 0 1 0 75.83-66.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1273.91 432.31L1310.19 432.31L1310.19 468.59L1273.91 468.59z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M835.85 517.13L852.98 517.13L852.98 534.26L835.85 534.26z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M339.47 567.11a34.09 34.09 0 1 0 38-56.61z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1345.3 420.42L1353.96 420.42L1353.96 431.47L1345.3 431.47z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M826.32 14.37L859.04 14.37L859.04 42.88L826.32 42.88z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1342.45 325.63L1380.92 325.63L1380.92 364.1L1342.45 364.1z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1100.64 84.88a47.79 47.79 0 1 0-73.22 61.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1322.58 316.74a55.43 55.43 0 1 0 97.92-51.98z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1374.28 19.61L1393.88 19.61L1393.88 49.21L1374.28 49.21z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M947.16 181.98L953.76 181.98L953.76 233.06L947.16 233.06z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M320.07 34.13a36.87 36.87 0 1 0 72.18-15.06z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M253.02 59.25 a8.92 8.92 0 1 0 17.84 0 a8.92 8.92 0 1 0 -17.84 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M190.68 97.93L208.74 97.93L208.74 115.99L190.68 115.99z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M710.05 410.54L710.2 410.54L710.2 451.96L710.05 451.96z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1065.66 20.87L1079.35 20.87L1079.35 66.99L1065.66 66.99z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1362.6 531.81L1392.75 531.81L1392.75 561.96L1362.6 561.96z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1432.79 121.53L1436.07 121.53L1436.07 124.81L1432.79 124.81z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M124.42 325.9L168.72 325.9L168.72 370.2L124.42 370.2z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M694.65 36.83L705.43 36.83L705.43 47.61L694.65 47.61z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M269.8 116.6L286.44 116.6L286.44 131.28L269.8 131.28z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* Set the background color of the navbar to match the body */
.my-navbar {
     background-color: #fefae0;
     border-color: #e7e7e7;
     border-bottom: none;
}

.navbar-brand {
     display: block;
     width: 100%;
     text-align: center;
}

.logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 20%;
}

.center-text {
     text-align: center;
}

.base-color {
     background-color: #fefae0;
}